aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
dill==0.3.2
distro==1.5.0
idna==2.10
Jinja2==2.11.2
junit-xml==1.9
MarkupSafe==1.1.1
multidict==4.7.6
pathspec==0.8.0
psutil==5.7.2
pyats==20.6
pyats.aereport==20.6
pyats.aetest==20.6
pyats.async==20.6
pyats.connections==20.6
pyats.datastructures==20.6
pyats.easypy==20.6.1
pyats.kleenex==20.6
pyats.log==20.6.1
pyats.reporter==20.6
pyats.results==20.6
pyats.tcl==20.6
pyats.topology==20.6
pyats.utils==20.6
python-engineio==3.13.1
python-socketio==4.6.0
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
unicon==20.6
unicon.plugins==20.6
urllib3==1.25.9
virl2-client==2.0.0b5
yamllint==1.24.2
yarl==1.4.2
